body{
    background: red;
}
.top{
    background: #BA5752;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.gpa{
    background: #F2C38B;
    padding: 30px 0;
    text-align: center;
}
.gpa h1{
    color: #74353F;
}
.gpa h4{
    color: #212529;
}
.bottom{
    background-color: #171717;
    height: 300px;
}